<launch>

<include file="$(find turtlebot_bringup)/launch/minimal.launch" />
<include file="$(find urg_node)/launch/urg_lidar.launch" />

<param name="/use_sim_time" value="false"/>


<include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
	<arg name="trajectory_source_frame_name" default="/base_link"/>
</include>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>

<node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.0 0.0 0.18 0 0.0 0.0 base_link laser 100"/>

<include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

</launch>
